<%- include('includes/head', {pageTitle: 'Error'}) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
<%- include('includes/header') %>
<main> <h1>Error</h1>

    <p><a class="btn" href="/">File not found</a></p>
</main>

<%- include('includes/footer') %>