<%- include('../../shared/includes/head', {pageTitle: 'Orders'}) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/orders.css">
</head>

<body>
<%-include('../../shared/includes/header') %>
<main> <h1 class="sixfour">All Your Orders</h1>

</main>

<%- include('../../shared/includes/footer') %>